body {
    background-color : #EAF6F6;
}
hr{
    border-style: none;
    border-top: dotted;
    border-width: 4px;
    width: 5%;
    border-color: grey;
    
}
h1{
    color: #66bfbf;
    font-family:"georgia",sans-serif;
}
h3{
    color: #66bfbf;
    font-family:"monaco",monospace;


}